.home-agenda {
    width: 100%;
    @include cf();
    .home-agenda-header {
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        h2 {
            float: left;
            width: auto;
            @include font-roboto(100);
            font-size: 35px;
            color: #6A6A6A;
            margin: 0;
            padding: 0;
        }
    }
    a.link-more {
        margin-top: 25px;
    }
    .home-agenda-box {
        float: left;
        width: 100%;
        background: #ffffff;
        border: solid 1px #D6D6D6;
        border-top: solid 5px #086AAB;
        padding: 0 20px 20px;
        box-shadow: 0 5px 15px 0 rgba(112,128,175,0.2);
        .home-agenda-item {
            float: left;
            width: 100%;
            height: 120px;
            padding-top: 20px;
            border-bottom: dashed 1px #D1D1D1;
            div.image {
                float: left;
                margin-right: 13px;
                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }
            div.text {
                color: #727272;
                font-size: 13px;
            }
            div.data {
                float: left;
                width: 100%;
                font-size: 13px;
                color: #9E9E9E;
                padding-top: 15px;
            }
        }
    }
}