.home-news {
    width: 100%;
    @include cf();
    .home-news-header {
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        h2 {
            float: left;
            width: auto;
            @include font-roboto(100);
            font-size: 35px;
            color: #6A6A6A;
            margin: 0;
            padding: 0;
        }
        a.link-more {
            float: right;
            margin-top: 15px;
        }
    }
    .home-news-item {
        width: 100%;
        height: 300px;
        div.image {
            width: 100%;
            padding-bottom: 20px;
            img {
                display: block;
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
        div.text{
            width: 100%;
            font-size: 15px;
            color: #4C4C4C;
            p{
                margin: 0;
                padding: 0;
                color: inherit;
            }
            a{
                color: inherit;
                text-decoration: none;
            }
        }
        &:hover {
            div.image {
                a {
                    position: relative;
                    height: 100%;
                    display: block;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: url(../img/box-hover-mask.png) center no-repeat;
                        z-index: 1;
                    }
                }
            }
        }
    }
}