.footer-newsletter{
    width: 100%;
    background-color: #002D55;
    padding: 75px 0;
    @include cf();
}

.footer-newsletter-form{
    float: left;
    width: 100%;
    position: relative;
    padding-right: 133px;
    .footer-newsletter-campo-email{
        width: 100%;
        height: 46px;
        padding-left: 5px;
        background: none;
        border: 0;
        border-bottom: solid 1px #ffffff;
        @include font-roboto(500);
        font-size: 15px;
        color: #ffffff;
        @include placeholder(#ffffff,1);
    }
    .footer-newsletter-campo-cadastrar{
        position: absolute;
        top: 0;
        right: 0;
        height: 46px;
        padding: 0 20px;
        border: 0;
        @include font-roboto();
        font-size: 15px;
        color: #828282;
        background-color: #ffffff;
        border-radius: 50px;
    }
}
.footer-newsletter-text{
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 2;
    &>span{
        text-transform: uppercase;
    }
}