html * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    padding: 0;
    margin: 0;
    @include font-roboto(400);
    font-size: $base-font-size;
    color: #333333; //-moz-osx-font-smoothing: grayscale;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased //-webkit-backface-visibility:(hidden); // Fixes Chrome 1px shift rendering issue on CSS3 transitions.
}

a,
a:link,
a:visited {
    //color: #333333;
    color: inherit;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: underline;
}

.main {
    position: relative; //z-index: 3;
    @include cf();
}

.wrapper {
    position: relative;
    margin: 0 auto;
    margin-left: auto !important;
    margin-right: auto !important; //adicionado em 2017/01
    width: 100%;
    max-width: $bodyWidth+ px;
    float: none; // @include mqrange(1400px,9000px){
    //     max-width: 1400px;
    // }
}

// link more
.link-more {
    display: inline-block;
    padding-left: 25px;
    height: 18px;
    line-height: 18px;
    background: url(../img/icon-plus.png) left center no-repeat;
    font-size: 13px;
    color: #828282;
}