@charset "UTF-8";

// ### Helpers
@import "_helpers/_variables", "_helpers/_mixin", "_helpers/_reset"; // normalize

// ### Bases do projeto
@import "_base/_base.scss", "_base/_typography.scss";

// ### Bases do projeto
@import "_components/_home-slider/__global.scss",
  "_components/_home-call-boxes/__global.scss",
  "_components/_home-news-and-agenda/__global.scss",
  "_components/_home-video-and-publications/__global.scss",
  "_components/_home-pesquisadores-and-apoio/__global.scss",
  "_components/_internas-top-header/__global.scss",
  "_components/_noticias/__global.scss", "_components/_paginacao/__global.scss",
  "_components/_side-bar/__global.scss", "_components/_breadcrumb/__global.scss",
  "_components/_coordenadores/__global.scss",
  "_components/_contato/__global.scss", "_components/_resolution/__global.scss",
  "_components/_quem-somos/__global.scss", "_components/_pesquisa/__global.scss",
  "_components/_publicacoes/__global.scss",
  "_components/_difusao-cientifica/__global.scss",
  "_components/_agenda/__global.scss",
  "_components/_sistemas-interativos/__global.scss",
  "_components/_download-de-dados/__global.scss",
  "_components/_busca/__global.scss", "_components/_ui-elements/__global.scss";

// ### Layout
@import "_layout/_header/__global.scss", "_layout/_footer/__global.scss",
  "_layout/_internas/__global.scss";
