.user-login-form > .form-item  >.form-text {
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#block-cem-local-tasks {
    z-index: 100;
    border: 1px solid grey;
    width: 120px;
    margin-top: 10px;
    position: fixed;
    background: white;
    padding: 10px 0;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 210px;
}

ul#custom-menu-language li {
    list-style-type: none;
}

.user-login-form > .form-actions > .form-submit {
    background-color: #086AAB;
    color: white;
    padding: 14px 30px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-color: #4cae4c;
    text-transform: uppercase;
}

div.quem-somos-conteudo  a{
    text-decoration: underline;
}

.noticia-item div.image-cem-na-midia {
    position: relative;
    float: left;
}

.download-item .files [class*="excel"] {
    background: url(../img/baixar-cem-ico.png) left center no-repeat;
}

.js-form-item-sort-by {
    display: none;
}

.botao-voltar {
    float: left;
    padding: 10px;
    font-size: 13px;
    background-color: #086AAB;
    border-radius: 3px;
    color: #ffffff;
}
#link-voltar {
    color: white;
}