.home-publications {
    width: 100%;
    padding: 50px 0 0;
    @include cf();
    .home-publications-header {
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 25px 0 40px;
        h2 {
            float: left;
            width: auto;
            @include font-roboto(100);
            font-size: 35px;
            color: #ffffff;
            margin: 0;
            padding: 0;
            padding-left: 60px;
            background: url(../img/icon-notes-bg.png) left center no-repeat;
            background-size: contain;
        }
        a.link-more {
            float: right;
            margin-top: 15px;
            color: #ffffff;
        }
    }
    .home-publications-box {
        position: relative;
        float: left;
        width: 100%;
        &>.inner {
            position: relative;
            float: left;
            width: 100%;
        }
        .slick-dots {
            z-index: 5;
            padding: 0;
            margin: 0;
            padding-top: 30px;
            list-style: none;
            text-align: right;
            position: absolute;
            bottom: -30px;
            width: 100%;
            li {
                display: inline-block;
                width: 14px;
                height: 14px;
                margin: 0 2px;
                button {
                    background: #DCDCDC;
                    border: 0;
                    border-radius: 50%;
                    font-size: 0;
                    width: 14px;
                    height: 14px;
                    padding: 0;
                    outline: 0;
                    cursor: pointer;
                    &:before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin: 0 0 0 1px;
                    }
                }
                &.slick-active {
                    button {
                        background-color: #086AAB;
                        border: 0;
                        border-radius: 50%;
                        &:before {
                            background-color: #086AAB;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
    .home-publications-item {
       // float: left;
        //width: 100%;
        padding: 0 10px;
        &>.inner {
            float: left;
            width: 100%;
            height: 440px;
            background-color: #ffffff;
            div.image,
            div.title,
            div.text {
                float: left;
                width: 100%;
            }
            div.image {
                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }
            div.title {
                margin: 0;
                padding: 15px 20px;
                border-bottom: dashed 1px #D1D1D1;
                h3 {
                    padding: 0;
                    margin: 0;
                    font-size: 15px;
                    font-weight: 500;
                    color: #4E4E4E;
                    line-height: 2;
                }
            }
            div.text {
                padding: 20px 20px 0;
                font-size: 13px;
                color: #6A6A6A;
                p {
                    padding: 0;
                    margin: 0;
                    color: inherit;
                    font-size: inherit;
                    line-height: 2;
                }
            }
        }
    }
}