.home-slider {
    width: 100%;
    background: #F7F7F7;
    padding-top: 30px;
    padding-bottom: 55px;
    @include cf();
    .view {
        position: relative;
        float: left;
        width: 100%;
        &>div {
            position: relative;
            float: left;
            width: 100%;
            overflow: hidden;
        }
    }
    .slick-dots {
        z-index: 5;
        padding: 0;
        margin: 0;
        padding-top: 30px;
        list-style: none;
        text-align: center;
        width: 100%;
        float: left;
        li {
            display: inline-block;
            width: 14px;
            height: 14px;
            margin: 0 2px;
            button {
                background: #DCDCDC;
                border: 0;
                border-radius: 50%;
                font-size: 0;
                width: 14px;
                height: 14px;
                padding: 0;
                outline: 0;
                cursor: pointer;
                &:before {
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    margin: 0 0 0 1px;
                }
            }
            &.slick-active {
                button {
                    background-color: #086AAB;
                    border: 0;
                    border-radius: 50%;
                    &:before {
                        background-color: #086AAB;
                        border: 0;
                    }
                }
            }
        }
    }
}

.home-slider-item {
    float: left;
    width: 100%;
    @include cf();
    div.title,
    div.image,
    div.text {
        float: left;
        width: 100%;
    }
    div.title {
        height: 60px;
        border-bottom: solid 5px #088C9F;
        h2 {
            width: 100%;
            padding: 0 0 5px;
            margin: 0;
            font-size: 13px;
            color: #088C9F;
            text-transform: uppercase;
        }
        p {
            font-size: 15px;
            font-weight: 500;
            color: #4D4D4D;
            padding: 0;
            margin: 0;
        }
    }
    div.image {
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    div.text {
        height: 90px;
        background: #ffffff;
        border: dashed 1px #AEAEAE;
        border-top: 0;
        font-size: 15px;
        color: #6A6A6A;
        p {
            padding: 0;
            margin: 0;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px 18px 0;
            color: inherit;
        }
    }
    &:hover {
        div.title {
            border-color: #FF6600;
            h2 {
                color: #FF6600;
            }
        }
        div.image {
            a {
                position: relative;
                height: 100%;
                display: block;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: url(../img/box-hover-mask.png) center no-repeat;
                    z-index: 1;
                }
            }
        }
    }
}