.header-top {
    width: 100%;
    background-color: #ffffff;
    padding: 26px 0;
    @include cf();

    .inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

// Logo
.header-top {
    .logo {
        float: left;
        min-height: 60px;
        margin: 0;
        padding: 0 84px 0 156px;
        background: url(../img/logo.png) left center no-repeat;
        font-weight: normal;

        span.title {
            display: block;
            width: 100%;
            @include font-lato(700);
            font-size: 35px;
            line-height: 35px;
            color: #303030;
        }

        span.sub-title {
            display: block;
            width: 100%;
            @include font-lato();
            font-size: 17px;
            color: #676f72;
        }
    }
}

// Busca
.header-search {
    position: relative;
    float: left;
    width: 100%;
    max-width: 410px;
    margin-top: 6px;
    border: solid 1px #e1e1e1;
    border-radius: 50px;
    max-height: 46px;
    @include cf();

    &>div {
        position: relative;
    }

    .search-field,
    #edit-busca-geral,
    .form-text {
        width: 100%;
        height: 44px;
        padding: 0 100px 0 28px;
        @include font-roboto();
        font-size: 13px;
        color: #8b8b8b;
        border: 0;
        background: transparent;
        outline: 0;
    }

    .search-select {
        position: absolute;
        right: 50px;
        top: 12px;
        width: 90px;
        height: 20px;
        border-top: 0;
        border-bottom: 0;
        border-left: solid 1px #e1e1e1;
        border-right: solid 1px #e1e1e1;
        background: url(../img/icon-arrow-down-black.png) 70px center no-repeat;
        @include font-roboto();
        font-size: 13px;
        color: #8b8b8b;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-left: 10px;
    }

    .search-button,
    #edit-submit-busca {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 44px;
        background: url(../img/icon-search.png) center no-repeat transparent;
        border: 0;
        font-size: 0;
        outline: 0;
    }

    form {
        label {
            display: none;
        }
    }
}

// .header-top {
//   .header-top-btn-contact {
//     float: left;
//     height: 21px;
//     right: 0;
//     background: url(../img/icon-mail.png) left center no-repeat;
//     padding-left: 33px;
//     font-size: 13px;
//     color: #676767;
//     margin-top: 20px;
//   }
// }

.header-top-links {
    @extend %container;
    float: none;
    background-color: #f5f5f5;
    border-top: solid 2px #ffffff;
    border-bottom: solid 1px #cbcbcb;

    .inner {
        height: 35px;
        display: flex;
        justify-content: space-between;
    }

    .social {
        float: left;
        display: flex;
        align-items: center;
        @include cf();

        ul {
            @extend %cleanUl;

            li {
                float: left;
                width: 22px;
                height: 22px;
                margin-right: 20px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;

                    span {
                        position: absolute;
                        left: -9999px;
                    }
                }

                &.icon-facebook {
                    background: url(../img/icon-footer-social-facebook.png) center no-repeat;
                    background-size: contain;
                }

                &.icon-twitter {
                    background: url(../img/icon-footer-social-twitter.png) center no-repeat;
                    background-size: contain;
                }

                &.icon-instagram {
                    background: url(../img/icon-footer-social-instagram.png) center no-repeat;
                    background-size: contain;
                }
            }
        }
    }

    .contact-translate {
        float: right;
        display: flex;
        align-items: center;
        @include cf();

        ul {
            @extend %cleanUl;

            li {
                float: left;
                height: 21px;
                padding-left: 33px;
                
                a {
                  font-size: 13px;
                  color: #676767;
                }
                
                &.header-top-btn-contact {
                  background: url(../img/icon-mail.png) left center no-repeat;
                  background-size: contain;
                  padding-right: 20px;
                }
                &.header-top-btn-translate {
                  padding-left: 25px;
                    background: url(../img/icon-translate.png) left center no-repeat;
                    background-size: contain;
                }
            }
        }

    }
}