.header-menu {
    width: 100%;
    background-color: #086AAB;
    border-bottom: solid 5px #CCCCCC;
    @include cf();
    z-index: 7;
    position: relative;

    &>.inner {
        &>ul {
            @extend %cleanUl;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &>li {
                position: relative;
                float: left; //width: 100/6 + %;
                @include font-roboto(500);
                font-size: 15px;
                color: #ffffff;
                padding: 0 10px;

                &>a {
                    display: block;
                    padding: 24px 6px;
                    white-space: nowrap;
                    position: relative;
                    color: inherit;
                }

                &>ul {
                    @extend %cleanUl;
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 80%;
                    float: left;
                    min-width: 160px;
                    background: #ffffff;
                    box-shadow: 0 16px 32px 0 rgba(62, 57, 107, 0.2), 0 0px 10px rgba(0, 0, 0, 0.05);
                    border-radius: 6px;
                    font-size: 15px;
                    text-align: left;
                    z-index: 100;

                    &>li {
                        float: left;
                        width: 100%;
                        @include font-roboto();
                        font-size: 13px;
                        color: #333333;
                        padding: 0 10px;
                        border-bottom: solid 1px #eee;

                        &:last-child {
                            border: 0;
                        }

                        &>a {
                            display: block;
                            padding: 10px 20px 10px 16px;
                            white-space: nowrap;
                            position: relative;
                            color: inherit;
                        }
                    }
                }

                &>a[data-js="has-submenu"] {
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 7px;
                        height: 5px;
                        padding-left: 10px;
                        background: url(../img/icon-arrow-down-white.png) center no-repeat;
                    }
                }

                &:hover {
                    &>ul {
                        display: block;
                    }
                }
            }
        }
    }
}

.header-menu {
    @include mqrange(840px, 5000px) {
        &.fixed {
            height: 65px;

            &>.inner.wrapper {
                position: fixed;
                top: 0;
                max-width: none;
                background-color: #086AAB;
                border-bottom: solid 5px #CCCCCC;

                &>ul {
                    width: 100%;
                    max-width: 1200px;
                    margin: 0 auto;
                }
            }
        }
    }
}

//marcando menus
.section-quem-somos {
    .header-menu {
        li {
            &[data-menu="quem-somos"] {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: #00BAB9;
                    bottom: -5px;
                    left: 0;
                }
            }
            
        }
    }
}
.section-pesquisa {
    .header-menu {
        li {
            &[data-menu="pesquisa"] {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: #40BDE9;
                    bottom: -5px;
                    left: 0;
                }
            }
            
        }
    }
}
.section-publicacoes {
    .header-menu {
        li {
            &[data-menu="publicacoes"] {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: #FF3366;
                    bottom: -5px;
                    left: 0;
                }
            }
            
        }
    }
}
.section-download-de-dados, 
.section-transferencia-e-dados, {
    .header-menu {
        li {
            &[data-menu="download-de-dados"],
            &[data-menu="transferencia-e-dados"] {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: #353535;
                    bottom: -5px;
                    left: 0;
                }
            }
        }
    }
}
.section-difusao-cientifica {
    .header-menu {
        li {
            &[data-menu="difusao-cientifica"] {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: #4D9AA0;
                    bottom: -5px;
                    left: 0;
                }
            }
        }
    }
}
.section-sistemas-interativos {
    .header-menu {
        li {
            &[data-menu="sistemas-interativos"] {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: #8E499A;
                    bottom: -5px;
                    left: 0;
                }
            }
        }
    }
}





